/* FONT - score */
@font-face {
    font-style: normal;
    font-weight: 100;
    font-family: 'score';
    src: url('../fonts/score/scdream1.eot');
    src: url('../fonts/score/scdream1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream1.woff2') format('woff2'),
    url('../fonts/score/scdream1.woff') format('woff'),
    url('../fonts/score/scdream1.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 200;
    font-family: 'score';
    src: url('../fonts/score/scdream2.eot');
    src: url('../fonts/score/scdream2.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream2.woff2') format('woff2'),
    url('../fonts/score/scdream2.woff') format('woff'),
    url('../fonts/score/scdream2.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'score';
    src: url('../fonts/score/scdream3.eot');
    src: url('../fonts/score/scdream3.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream3.woff2') format('woff2'),
    url('../fonts/score/scdream3.woff') format('woff'),
    url('../fonts/score/scdream3.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'score';
    src: url('../fonts/score/scdream4.eot');
    src: url('../fonts/score/scdream4.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream4.woff2') format('woff2'),
    url('../fonts/score/scdream4.woff') format('woff'),
    url('../fonts/score/scdream4.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'score';
    src: url('../fonts/score/scdream5.eot');
    src: url('../fonts/score/scdream5.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream5.woff2') format('woff2'),
    url('../fonts/score/scdream5.woff') format('woff'),
    url('../fonts/score/scdream5.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: 'score';
    src: url('../fonts/score/scdream6.eot');
    src: url('../fonts/score/scdream6.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream6.woff2') format('woff2'),
    url('../fonts/score/scdream6.woff') format('woff'),
    url('../fonts/score/scdream6.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'score';
    src: url('../fonts/score/scdream7.eot');
    src: url('../fonts/score/scdream7.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream7.woff2') format('woff2'),
    url('../fonts/score/scdream7.woff') format('woff'),
    url('../fonts/score/scdream7.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: 'score';
    src: url('../fonts/score/scdream8.eot');
    src: url('../fonts/score/scdream8.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream8.woff2') format('woff2'),
    url('../fonts/score/scdream8.woff') format('woff'),
    url('../fonts/score/scdream8.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 900;
    font-family: 'score';
    src: url('../fonts/score/scdream9.eot');
    src: url('../fonts/score/scdream9.eot?#iefix') format('embedded-opentype'),
    url('../fonts/score/scdream9.woff2') format('woff2'),
    url('../fonts/score/scdream9.woff') format('woff'),
    url('../fonts/score/scdream9.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'mapoGolden';
    src: url('../fonts/mapoGolden/mapoGolden.eot');
    src: url('../fonts/mapoGolden/mapoGolden.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mapoGolden/mapoGolden.woff2') format('woff2'),
    url('../fonts/mapoGolden/mapoGolden.woff') format('woff'),
    url('../fonts/mapoGolden/mapoGolden.ttf') format('truetype');
}

/* common */
html, body, div, span, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, select, textarea, table, col, colgroup, thead, tfoot, tbody, th, td, button {
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: 'mapoGolden', '맑은 고딕', '돋움', Dotum, Arial, sans-serif;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    background: #f5f6f8;
}

::-moz-selection {
    color: #fff;
    background: #4ac8f8;
}

::selection {
    color: #fff;
    background: #4ac8f8;
}

/* swiper content */
.visual-wrap {
    height: 100%;
    background: #fff;
}

.visual-wrap .visual-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 40px;
    background: #fff;
}

.visual-wrap .visual-date p {
    padding: 0 3px 2px;
    font-size: 25px;
    border-bottom: 1px solid #9b9d9e;
}

.visual-wrap .visual-swiper {
    height: calc(100% - 426px);
    padding: 0 30px;
}

.visual-wrap .visual-date p + p {
    padding-top: 10px;
}

.visual-wrap .swiper-container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.visual-wrap .swiper-slide {
    background-position: center;
    background-size: cover;
}

.visual-wrap .swiper-slide.slide-01 {
    background-image: url(../img/img_sample.jpg);
}

.visual-wrap .swiper-slide.slide-02 {
    background-image: url(../img/img_sample2.jpg);
}

.visual-wrap .swiper-slide.slide-03 {
    background-image: url(../img/img_sample3.jpg);
}

.visual-wrap .gallery-top {
    width: 100%;
    height: 80%;
}

.visual-wrap .gallery-thumbs {
    box-sizing: border-box;
    height: 20%;
    padding: 10px 0 0;
}

.visual-wrap .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.visual-wrap .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    width: 20px;
    height: 30px;
    background-size: 20px 30px;
}

.visual-wrap .visual-place {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 80px;
}

.visual-wrap .visual-place h3 {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.visual-wrap .visual-place p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 22px;
}

.visual-wrap .visual-place p span {
    color: #7a7c7d;
    font-weight: bold;
}

/* invitation */
.invitation-wrap {
    padding: 80px 30px;
}

.invitation-wrap .invitation-title {
    position: relative;
    z-index: 0;
    font-size: 20px;
    font-weight: bold;
}

.invitation-wrap .invitation-title:before {
    position: absolute;
    z-index: -1;
    top: -15px;
    left: 0;
    content: "Invitation";
    text-transform: capitalize;
    color: #e6e6e6;
    font-size: 40px;
    font-weight: 300;
}

.invitation-wrap .invitation-content .invitation-txt01 {
    padding: 40px 0;
}

.invitation-wrap .invitation-content .invitation-txt01 p {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.invitation-wrap .invitation-content .invitation-txt01 p + p {
    padding-top: 15px;
}

.invitation-wrap .invitation-content .invitation-txt01 p span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 19px;
    font-weight: bold;
}

.invitation-wrap .invitation-content .invitation-txt01 p span a {
    height: 16px;
    padding-left: 12px;
}

.invitation-wrap .invitation-content .invitation-txt01 p span a img {
    width: 16px;
}

.invitation-wrap .invitation-content .invitation-txt02 span {
    display: block;
    color: #7a7c7d;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}

/* map */
.location-wrap {
    padding: 80px 30px;
    background: #fff;
}

.location-wrap .location-title {
    position: relative;
    z-index: 0;
    font-size: 20px;
    font-weight: bold;
}

.location-wrap .location-title:before {
    position: absolute;
    z-index: -1;
    top: -15px;
    left: 0;
    content: "Location";
    text-transform: capitalize;
    color: #f1f1f3;
    font-size: 40px;
    font-weight: 300;
}

.location-wrap #mapCanvas {
    width: 100%;
    height: 200px;
    margin: 50px auto;
}

.gm-style-iw-d div {
    font-weight: 500;
}

.gmnoprint {
    display: none;
}

.location-wrap .location-txt .location-item {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #c5c5c5;
}

.location-wrap .location-txt .location-item:last-child {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

.location-wrap .location-txt .location-item h3 {
    font-size: 16px;
    font-weight: bold;
}

.location-wrap .location-txt .location-item p {
    padding-top: 15px;
    color: #7a7c7d;
    font-size: 14px;
    font-weight: bold;
}

.location-wrap .location-txt .location-road h3 span {
    display: block;
    font-weight: bold;
}

.location-wrap .location-txt .location-road h3 span:first-child {
    padding-bottom: 10px;
}

/* top button */
.scroll-top {
    position: fixed;
    z-index: 999;
    right: 246px;
    bottom: 0;
    left: 50%;
    display: none;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    transform: translateX(-50%);
}

.btn-top {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    margin: 0 0 0 0;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    background-color: #151d2b;
}

.btn-top::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: '';
    transform: translate(-50%, -50%);
    background: url(../img/icon_arrow_up.svg) center no-repeat;
    background-size: 24px;
}
